

body,
div,
span,
p,
a,
img,
input,
ul,
li,
strong,
del,
i,
em,
ins,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
}

i {
    font-style: normal;
}

body {
    font-size: 12px;
    line-height: 1;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: 0 auto;
    /* 版心属性 */
    /* 1.固定的宽度 */
    /* 2.水平居中 */
}